.container {
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  animation: myAnim 1s ease 0s 1 normal forwards;
  width: 80%;
  background-color: whitesmoke;
  height: fit-content;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.img {
  width: 200px;
  height: 200px;
}
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
