.container {
  width: 100%;

  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  justify-content: center;
  background-color: whitesmoke;
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}
.chart {
  width: 100%;
  height: 100%;
}
.header {
  border-bottom: 0.5px lightgray solid;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 25px;
  margin-bottom: 10px;
}
.indicators {
  /* border-bottom: 0.5px lightgray solid; */
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: fit-content;
}
.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.text {
  margin-left: 5px;
}
.barContainer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.bar {
  background-color: lightgray;
  height: 20px;
  margin-right: 10px;
  border-radius: 10px;
  width: 100%;
}
.percentage {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  animation: myAnim 2s ease 0s 1 normal forwards;
}
.group {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: blue; */
  height: 30px;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  /* background-color: #00c14e; */
}
@keyframes myAnim {
  0% {
    opacity: 0;
    width: 0%;
  }

  100% {
    opacity: 1;
  }
}
@keyframes myAnim2 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 600px) {
  .main {
    width: 90%;
  }
}
